-if(@next_meeting.nil?)
  %h1 Topic: TBD
-else
  %h1.topic=@next_meeting.topic
  .description
    =simple_format @next_meeting.description
.date
  ="#{@next_meeting.date.strftime("%B %d")}, #{Meeting.time}" 


